<div *ngIf="timeSheetForm?.timeSheet; else errorMessage">

  <mat-card [formGroup]="timeSheetForm">


    <mat-card-header>
        <mat-card-title>{{ timeSheetForm?.timeSheet?.employee.fullName() }}</mat-card-title>
        <mat-card-subtitle>October 1 - October 31, 2018 //TODO: Payperiod goes here</mat-card-subtitle>
    </mat-card-header>
    <div class="time-sheet-summary">
        <p>Total Hours: {{ timeSheetForm?.timeSheet?.totalHours() }}</p>
        <p>Total Pay: ${{ timeSheetForm?.timeSheet?.totalPay() }}</p>
        <mat-chip-list>
          <mat-chip>Status: {{ timeSheetForm?.timeSheet?.status() }}</mat-chip>
        </mat-chip-list>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content class="list">
        <mat-list>
            <h3 mat-subheader>Activities</h3>
            <app-activity *ngFor="let form of timeSheetForm?.controls['activities'].controls"
                [activityForm]="form"
                [isSubmitted]="(timeSheetForm?.timeSheet.submitted)"
                (deleteActivity)="timeSheetForm?.deleteActivity($event)"
                (addActivity)="timeSheetForm?.addActivity()"></app-activity>
        </mat-list>
    </mat-card-content>

    <mat-card-actions *ngIf="!timeSheetForm?.timeSheet?.submitted">
        <button mat-button type="button" [disabled]="timeSheetForm?.pristine"
        (click)="save()">Save</button>
        <button mat-button color="primary" type="button" [disabled]="timeSheetForm.invalid || timeSheetForm?.dirty || !timeSheetForm?.saved"
        (click)="submit()">Submit for approval</button>
    </mat-card-actions>


  </mat-card>

</div>

<ng-template #errorMessage>
    <mat-card>
        <p class="text-center">Oops, we can't find that time sheet!</p>
        <mat-card-actions class="items-center">
            <a routerLink="/timesheets/" color="accent" mat-raised-button>Back to Time Sheets</a>
        </mat-card-actions>
    </mat-card>
</ng-template>