<div class="container" *ngIf="timeSheets; else loading">

  <mat-card>

    <mat-card-content class="list">
      <mat-list role="rowgroup">
        <h2 mat-subheader>Time Sheets ({{timeSheets?.length}})</h2>
        <mat-list-item *ngFor="let timeSheet of timeSheets"
            mat-ripple (click)="openReviewDialog(timeSheet)">

          <div class="col-sm">{{timeSheet.employee.fullName()}}</div>
          <div class="col-full"></div>
          <div class="col-sm">${{timeSheet.totalPay()}}</div>
          <mat-chip-list class="col-sm items-center">
            <mat-chip>{{timeSheet.status()}}</mat-chip>
          </mat-chip-list>

          <div class="list-actions">
            <button mat-icon-button 
                routerLink="/timesheets/{{timeSheet.id}}"
                [disabled]="timeSheet.status() === 'Submitted' || timeSheet.status() === 'Approved'">
              <mat-icon>edit</mat-icon></button>

            <button mat-icon-button color="warning"
                (click)="deleteTimeSheet(timeSheet);$event.stopPropagation()">
              <mat-icon>delete</mat-icon></button>
          </div>

        </mat-list-item>


      </mat-list>
    </mat-card-content>

  </mat-card>

</div>

<button class="fab-btn-fixed" mat-fab color="primary" aria-label="Add Time Sheet"
(click)="openAddDialog()"><mat-icon>add</mat-icon></button>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>