<div class="container">
  
  <mat-card>


    <mat-card-content class="list">
        <mat-list role="rowgroup">
            <h2 mat-subheader>Employees ({{employees?.length}})</h2>
            <mat-list-item *ngFor="let employee of employees"
                mat-ripple (click)="openEditDialog(employee)">


              <div class="col-sm">{{employee.fullName()}}</div>
              <div class="col-full">{{employee.email}}</div>
              <div class="col-sm">${{employee.hourlyPay}} / Hour</div>
              
              <div class="list-actions">
                <button mat-icon-button (click)="deleteEmployee(employee);$event.stopPropagation()">
                    <mat-icon matListIcon>delete</mat-icon></button>
              </div>


            </mat-list-item>
          </mat-list>
    </mat-card-content>

  </mat-card>

</div>
<button class="fab-btn-fixed" (click)="openAddDialog()" mat-fab color="primary">
<mat-icon>add</mat-icon></button> 