mat-dialog-content {
    width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

mat-form-field {
    margin: 0 10px 10px 10px;
}

#email {
    width: 100%;
}

input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
mat-dialog-actions {
    justify-content: flex-end;
}