<mat-list-item [formGroup]="activityForm">

  <mat-form-field id="date" (click)="picker.open()" floatLabel="never">
    <input matInput readonly="readonly" placeholder="Select Date"
        [matDatepicker]="picker" formControlName="date">
    <mat-error *ngIf="activityForm.controls['date'].invalid">Required</mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="isSubmitted"></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="col-full" floatLabel="never">
    <input matInput formControlName="description"
        placeholder="Description (Optional)" type="text">
  </mat-form-field>


  <mat-form-field floatLabel="never" id="hourlyPay">
    <input matInput formControlName="hours"
        id="hours" type="number" placeholder="Hours">
    <mat-error *ngIf="activityForm.controls['hours'].invalid">{{getErrorMessage('hours')}}</mat-error>
    <div *ngIf="activityForm?.controls['hours'].valid || isSubmitted" matSuffix id="pay">
      {{showPay()}}</div>
  </mat-form-field>

  
  <div class="list-actions" *ngIf="!isSubmitted">
      <button mat-icon-button color="warn"
      (click)="delete()"><mat-icon>clear</mat-icon></button>
    
      <button mat-icon-button color="primary"
      (click)="add()"><mat-icon>add</mat-icon></button>
  </div>
  
</mat-list-item>