mat-list-item {
    padding: 10px 0;
}

mat-list-item:hover button.hidden-btn,
mat-list-item:focus-within button.hidden-btn
{
    visibility: visible;
    opacity: 1;
}

mat-form-field {
    margin: 0 10px 10px 10px;
}
.list-item-actions {
    margin-left: 16px;
    margin-bottom: 16px;
}
.hidden-btn {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.14s linear;
}

input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#date:hover {
    cursor: pointer;
}
#date input {
    cursor: pointer;
}
#description {
    width: 23em;
}
#hourlyPay {
    width: 9em;
}
#hours {
    width: 3em;
}
#pay {
    width: 6em;
}