<mat-list-item [formGroup]="activityForm">

  <mat-form-field id="date" (click)="picker.open()" floatLabel="never">
    <input matInput readonly="readonly" placeholder="Select Date"
        [matDatepicker]="picker" formControlName="date">
    <mat-error *ngIf="activityForm.controls['date'].invalid">Required</mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="isSubmitted"></mat-datepicker>
  </mat-form-field>


  <mat-form-field id="description" floatLabel="never">
    <input matInput formControlName="description"
        placeholder="Description (Optional)" type="text">
  </mat-form-field>


  <mat-form-field floatLabel="never" id="hourlyPay">
    <input matInput formControlName="hours"
        id="hours" type="number" placeholder="Hours">
    <mat-error *ngIf="activityForm.controls['hours'].invalid">Required</mat-error>
    <div matSuffix id="pay" matTooltip="Pay" matTooltipPosition="above">
      {{showPay()}}</div>
  </mat-form-field>

  
  <div class="list-item-actions" *ngIf="!isSubmitted">
      <button class="hidden-btn" mat-icon-button
      (click)="delete()" color="primary"><mat-icon>clear</mat-icon></button>
    
      <button class="hidden-btn" mat-icon-button
      (click)="add()"><mat-icon>add</mat-icon></button>
  </div>
  
</mat-list-item>