.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}
table {
    width: 450px;
}

mat-dialog-actions {
    justify-content: flex-end;
}