/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/mat-card-list.scss";
@import "./assets/utilities.scss";

html, body {
    height: 100%;
    margin: 0;
    font-family: 'roboto';
}

body {
    padding-top: 64px;
    box-sizing: border-box;
}

.container {
    padding: 10px;
}

button.fab-btn-fixed {
    position: fixed;
    right: 30px;
    bottom: 25px;
}

mat-card {
    max-width: 1080px;
    margin: 4em auto;
}

mat-dialog-actions {
    justify-content: flex-end;
}